body, html {
    height: 100vh;
    width: 100%;
    font-family: "Helvetica", Sans-Serif;
    margin: 0;
    padding: 0;
}

.bg-image {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(images/samantha-gades-BlIhVfXbi9s-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.cv {
    position: absolute;
    font-size: 17px;
    font-weight: 40px;
    padding: 10px 20px;
    color: #000;
    background-color: none;
    top: 21px;
    border: none;
    right: 15px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 7px;
    text-decoration: none;
}

.cv:hover {
    overflow: hidden;
    background: brown;
    color: yellow;
}

.nav-bar {
    display: flex;
    position: absolute;
    top: 0;
}

h3 {
    margin-left: 20px;
    font-weight: 200;
}

.center-text {
    position: absolute;
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 30%;
    height: auto;
    width: 100%;
}

.text-clickable:hover {
    font-size: 60px;
    color: yellow;
    cursor: pointer;
    transition: font-size 0.3s ease;
}

.text-clickable:not(:hover) {
    font-size: 70px;
    color: initial;
    transition: font-size 0.3s ease;
}

#myworks {
    font-size: larger;
    padding: 10px 20px;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: none;
    border: 1px solid;
    border-radius: 2px;
    transition: 0.3s;
    cursor: pointer;
    letter-spacing: normal;
    transition: letter-spacing 0.3s ease;
}

#myworks:hover {
    color: yellow;
    transition: 0.3s;
    letter-spacing: 5px;
}

.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    padding: 20px; /* Adjust padding as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
    border-radius: 5px; /* Increase border-radius for a more rounded box */
    animation: fadeIn 0.7s forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0; /* Start with opacity 0 */
    }
    to {
      opacity: 1; /* End with opacity 1 */
    }
  }

.popup-container p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

/*-----------Projects Section---------------*/

#projects {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: calc(100% - 20px); /* Adjust width to account for margins */
    height: calc(100% - 20px); /* Adjust height to account for margins */
    margin: 10px; /* Add a small margin around the container */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0; /* Initially make it transparent */
    transition: opacity 0.3s ease; /* Add transition for opacity */
}

#projects-content {
    position: absolute;
    border-radius: 7px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

#projects.show {
    display: block;
    opacity: 1; /* Change opacity to make it fully visible */
}

#projects-content:not("closeBtn") {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#projects-content img {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 10px; /* Add margin between images */
    border-radius: 5px; /* Add border radius for rounded corners */
}

.imgsample {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.imgsample:hover {
    transform: scale(1.1);
}

.imgsample.enlarged {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.2);
    z-index: 9999;
}

#closeBtn{
    position: absolute;
    font-size: 20px;
    font-weight: 40px;
    padding: 5px 15px;
    left: 50%;
    bottom: 10px;
    color: #000;
    background-color: none;
    border: 1px solid;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 7px;
    text-decoration: none;
    transform: translateX(-50%);
    letter-spacing: normal;
    transition: letter-spacing 0.3s ease;
}

#closeBtn:hover{
    letter-spacing: 5px;
    border-color: yellow;
}

/*---------------------Contact Section---------------------------*/
.contact {
    position: absolute;
    display: flexbox;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 3px;
    width: 100%;
    bottom: -7px;
}

.contact a {
    font-size: 17px;
    font-weight: 40px;
    text-decoration: none;
    color: black;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
    transform-origin: top;
    padding: 10px;
}

.contact a:not(.email):hover {
    color: yellow;
    transform: translateY(-35px);
    font-size: 20px;
}

.icon {
    width: 30px;
    vertical-align: middle;
    padding: 3px;
}

.email {
    position: absolute;
    font-size: 17px;
    font-weight: 40px;
    padding: 5px 15px;
    color: #000;
    background-color: none;
    top: 20px;
    border: none;
    left: 15px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 7px;
    text-decoration: none;
}

.email:hover {
    background-color: antiquewhite;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .cv {
        font-size: 14px; /* Decrease font size */
    }
    
    .center-text {
        top: 20%; /* Adjust positioning */
    }

    .text-clickable {
        font-size: 50px; /* Adjust font size */
    }

    #myworks {
        font-size: medium; /* Adjust font size */
    }

    .popup-container {
        width: 90%; /* Adjust width */
    }

    .popup-container p {
        font-size: 16px; /* Decrease font size */
    }

    #projects {
        margin: 0; /* Remove margin */
        width: 100%; /* Adjust width */
        height: 100%; /* Adjust height */
    }

    .contact {
        bottom: 0; /* Adjust positioning */
    }

    .contact a {
        font-size: 14px; /* Decrease font size */
    }

    .email {
        font-size: 14px; /* Decrease font size */
    }
}